/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes opacity-animated {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes pointer-animated {
  0% {
    left: -20px;
  }
  100% {
    left: -16px;
  }
}

@keyframes scale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  0% {
    scale: 1;
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Прозрачность искр */
.sparks {
  opacity: 0;
}

/* Цвет сердцевины */
.like-icon .core {
  fill: transparent;
  /* Возврат в исходное состояние с задержкой */
  transition: fill 0.3s linear 0.03s;
}

/* Цвет тела */
.like-icon .main-body {
  fill: transparent;
  /* Возврат в исходное состояние без задержки */
  transition: fill 0.3s linear;
}

/* Цвет сердцевины при наведении */
.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

/* Цвет тела при наведении */
.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

/* Окрашиваем сердцевину при зажатии */
.like-icon:active .core {
  fill: var(--fill-like-icon);
  transition: fill 0.3s linear;
}

/* Окрашиваем тело при зажатии */
.like-icon:active .main-body {
  fill: var(--fill-like-icon);
  transition: fill 0.3s linear 0.05s;
}

/* Окрашиваем контур при зажатии с задержкой*/
.like-icon:active .contour {
  fill: var(--fill-like-icon);
  transition: fill 0.3s linear 0.06s;
}

/* Анимация масштабирования группы элементов с задержкой */
.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s alternate;
}

/* Анимация прозрачности искр с задержкой */
.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s alternate;
}

/* Окрашиваем контур при клике */
.like-icon.is-liked .core {
  fill: var(--fill-like-icon);
  transition: fill 0.3s linear 0.05s;
}

/* Окрашиваем тело при клике */
.like-icon.is-liked .main-body {
  fill: var(--fill-like-icon);
  transition: fill 0.3s linear 0.05s;
}

/* Окрашиваем контур с задержкой при клике */
.like-icon.is-liked .contour {
  fill: var(--fill-like-icon);
  transition: fill 0.3s linear 0.06s;
}

/* Перекрашиваем контур обратно (после снятия лайка) */
.like-icon .contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}